PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=baterias_saint
DB_USER=saint_admin
DB_PASS=saint_secure_password
CATALOG_CDN=https://bateriacarro.com.co
WHATSAPP=573147691248
NODE_ENV=development

# Despliegue hondabateriacali.com (copie a .env)
# DEPLOY_HOST=hondabateriacali.com
# DEPLOY_USER=su_usuario_sftp
# DEPLOY_PATH=/public_html/
# DEPLOY_PORT=22
# DEPLOY_KEY=/home/s62612007/.ssh/bateriagelylitio_ionos
